#sub-content{
    overflow: visible;
    max-width: 80%;
}

/* 页面无限长度，删除后出现滚动条 */
/* .bootstrap-table .fixed-table-container .fixed-table-body{
    height: auto;
} */

.DID-class{
    text-align: center;
}

.abbreviation-class{
    /* max-width: 300px; */
    overflow-wrap: break-word
}

.NRC-class{
    min-width: 100px;
}

#main_title{
    display: inline-block;
    font-size: 1.75rem;
}

.NRC-class{
    text-align: center;
}

.table-block{
    padding-top: 50px;
}

/* .bootstrap-table{
    height: 100%;
} */
